.bar-chart {
  background: linear-gradient(135deg, #ffdc30, #ff5349);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5px 10px 5px;
  box-shadow: 0 14px 10px -6px lightgrey;
  border-radius: 3px;
}

.label {
  fill: white;
  text-anchor: middle;
}

.bar-top {
  stop-color: #1eb8ff;
}

.bar-bottom {
  stop-color: #5e00aa;
}

.bar-top2 {
  stop-color: #58ffb1;
}

.bar-bottom2 {
  stop-color: #00644f;
}


rect {
  fill: url(#gradient);
}

rect:hover {
  fill: url(#gradient2);
}